@charset "UTF-8";
/* CSS Document */
.textbox {
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.00);
	border-radius: 10px;
	border-color: green;
	border: double;
	border-width: 10px;
	position: fixed;
	margin-left: 30%;
	margin-right: 30%;
	width: 600px;
	height: 900px;	
}
.body {
	background-image: url("https://i.pinimg.com/originals/f9/d9/b3/f9d9b35f40cdc6c4b00c65540676e15f.jpg");
	background-size: cover;
	background-position: top;
	background-repeat:no-repeat;
	width: auto;
	height: auto;
}
.startbutton {
	width: 100px;
	height: 100px;
}